<div class = "action-panel">
  <span class = "action-panel-label">Course action panel</span>
  <div class = "action-panel-container">
    <div class = "search-container">
      <input class = "search-input" type = "text" placeholder = "Course name" [(ngModel)] = "query">
      <input class = "search-action" type = "button" value = "Find" (click) = "onSearchButtonClick()">
    </div>
    <input class = "add-action" type = "button" value = "Add Course" (click) = "onAddButtonClick('add-form')">
    <input *ngIf = "isSearch" class = "back-action" type = "button" value = "Back to dashboard" (click) = "onBackButtonClick()">
  </div>
</div>