@import "../../styles/variables/colors.scss";

.home-page {
	input[type="button"] {
		cursor: pointer;
	}
	padding-top: 10px;
	.course-list {
		margin-top: 20px;
	}
	.login-data-action {
		span, input {
			background-color: $c-primary;
			border: none;
			color: white;
			padding: 6px 20px;
			margin-left: 10px;
		}
		input {
			float: right;
		}
	}
}
